<div id="footer" class=" pink-background">
    <div class="container">
      <!--  <hr />
      <p class="muted credit">&copy;{{ "now" | date("Y") }} <a href="#" target="_blank">Learn With Lina</a>.</p> -->
      <div class="row">
          <div class="col-lg-6 text-center row">
             <div class ="col-lg-12 footer-lina-logo"></div>
             <div class ="col-lg-12"><p>Revolutionizing the future of Philippine education.</p></div>
             <div class ="col-lg-12 row">
                 <div class="col-sm-2"><i class="fa-brands fa-facebook-f fa-2x"></i></div>
                 <div class="col-sm-2"><i class="fa-brands fa-instagram fa-2x"></i></div>
                 <div class="col-sm-2"><i class="fa-brands fa-twitter fa-2x"></i></div>
                 <div class="col-sm-2"><i class="fa-brands fa-linkedin-in fa-2x"></i></div>
                 <div class="col-sm-2"><i class="fa-brands fa-youtube fa-2x"></i></div>
                 <div class="col-sm-2"><i class="fa-brands fa-tiktok fa-2x"></i></div>
             </div>
          </div>
          <div class="col-lg-6 row">
              <div class = "col-lg-6">
                  <h3><a href = "{{ 'lina-home'|page }}" class="footer-link">Home</a></h3>
                  <h3 class="footer-link">About</h3>
                      <h4><a href = "{{ 'about'|page }}" class="footer-link">About Us</a></h4>
                      <h4><a href = "{{ 'lina-difference'|page }}" class="footer-link">The Lina Difference</a></h4>
                      <h4><a href = "#" class="footer-link">Our Team</a></h4>
                      <h4><a href = "{{ 'our-partners'|page }}" class="footer-link">Our Partners</a></h4>
                      <h4><a href = "#" class="footer-link">Donate Now</a></h4>
                      <h4><a href = "{{ 'join'|page }}" class="footer-link">Join Us Today</a></h4>
             </div>
              <div class = "col-lg-6">
                   <h3><a href = "{{ 'faq'|page }}" class="footer-link">FAQ</a></h3>
                   <h3><a href = "{{ 'meet-bukids'|page }}" class="footer-link">Meet The buKIDS!</a></h3>
              </div>
             
          </div>
      </div>
       
    </div>
</div>