==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-lina navbar-fixed-top navbar-autohide justify-content-between" role="navigation">
    <div class="container">
        <div class="row">
        <div class="navbar-header col-lg-4">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'lina-home'|page }}"></a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse col-lg-8 d-lfex justify-content-lg-end">
            <ul class="nav navbar-nav" style="float:right !important;">
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'lina-home' %}active{% endif %}"><a href="{{ 'lina-home'|page }}">Home</a></li>
                <li class="{% if this.page.id == 'ajax' %}active{% endif %}"><a href="https://library.learnlina.com/">Library</a></li>
                <li>
               
                      <a class="dropdown show btn btn-secondary dropdown-toggle" href="{ 'about'|page }}" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       About
                          </a>

                          <div class="dropdown-menu about-dropdown row" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item col-sm-12" href="{{ 'about'|page }}">About</a>
                            <a class="dropdown-item col-sm-12" href="#">The Team</a>
                            <a class="dropdown-item col-sm-12" href="{{ 'join'|page }}">Join</a>
                            <a class="dropdown-item col-sm-12" href="{{ 'lina-difference'|page }}">The Lina Difference</a>
                            <a class="dropdown-item col-sm-12" href="{{ 'our-partners'|page }}">Our Partners</a>
                            <a class="dropdown-item col-sm-12" href="#">Donate Now</a>
                          </div>
                 
                </li>
                <li class="{% if this.page.id == 'faq' %}active{% endif %}"><a href="{{ 'faq'|page }}">FAQ</a></li>
                <li class="{% if this.page.id == 'meet-bukids' %}active{% endif %}"><a href="{{ 'meet-bukids'|page }}">Meet the BuKIDS!</a></li>
                
            </ul>
        </div>
    </div>
    </div>
</nav>